<p>
  <strong>File:</strong>
  <%= link_to @ocr_document.file.filename.to_s, rails_blob_path(@ocr_document.file, disposition: "attachment") %>
</p>

<% if @ocr_text.present? %>
  <p>
    <strong>OCR Text:</strong>
    <pre><%= @ocr_text %></pre>
  </p>
<% end %>